# Ejemplo de configuración de entorno para el BACKEND
PUERTO=3000
DB_HOST=localhost
DB_USUARIO=root
DB_PASSWORD=
DB_NOMBRE=login_db
DB_PUERTO=3306
JWT_SECRET=pon-un-secreto-seguro-aqui
# GOOGLE_CLIENT_ID=tu-client-id.apps.googleusercontent.com
